Repository reg-viz/storycap-testrun: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yaml:

pre-commit:
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,scss,html,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    oxlint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm oxlint --fix {staged_files}
      stage_fixed: true

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,scss,html,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

chore: update CHANGELOG format
  packages/storycap-testrun/CHANGELOG.md
Due: prettier

chore: format code and standardize project configuration (#143)
  packages/storycap-testrun/CHANGELOG.md
Due: prettier

chore: pin GitHub Actions to commit hashes for security
  .github/actions/setup-node/action.yaml
  .github/workflows/ci.yaml
Due: prettier

chore: pin GitHub Actions to commit hashes for security (#144)
  .github/actions/setup-node/action.yaml
  .github/workflows/ci.yaml
Due: prettier

feat: improve e2e test execution with parallel processing
  scripts/e2e.js
Due: prettier, oxlint

fix: skip Playwright install in CI to avoid apt-get lock conflicts
  scripts/e2e.js
Due: prettier, oxlint

fix: install Playwright browser binaries in CI environment
  scripts/e2e.js
Due: prettier, oxlint

perf: skip Playwright browser install in CI environment
  scripts/e2e.js
Due: prettier, oxlint

fix: ensure Playwright browsers are installed for each example
  scripts/e2e.js
Due: prettier, oxlint

Improve e2e test execution with parallel processing and enhanced reporting (#145)
  scripts/e2e.js
Due: prettier, oxlint

refactor: make examples independent workspaces
  examples/v7-react/pnpm-workspace.yaml
  examples/v8-react/pnpm-workspace.yaml
  scripts/e2e.js
Due: prettier, oxlint

refactor: make examples independent workspaces (#146)
  examples/v7-react/pnpm-workspace.yaml
  examples/v8-react/pnpm-workspace.yaml
  scripts/e2e.js
Due: prettier, oxlint

ci: cache Playwright browsers and conditionally install in test job
  .github/workflows/ci.yaml
Due: prettier

ci: cache Playwright browsers and conditionally install in test job (#147)
  .github/workflows/ci.yaml
Due: prettier

chore(examples): add v9-react-vite; test(e2e): skip screenshot validation for it and show status in results
  examples/v8-react/.storybook/main.js
  examples/v9-react-vite/.storybook/main.js
  examples/v9-react-vite/.storybook/preview.js
  examples/v9-react-vite/.storybook/vitest.setup.ts
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-workspace.yaml
  examples/v9-react-vite/stories/Button.jsx
  examples/v9-react-vite/stories/Button.stories.js
  examples/v9-react-vite/stories/Configure.mdx
  examples/v9-react-vite/stories/Header.jsx
  examples/v9-react-vite/stories/Header.stories.js
  examples/v9-react-vite/stories/Page.jsx
  examples/v9-react-vite/stories/Page.stories.js
  examples/v9-react-vite/stories/assets/accessibility.png
  examples/v9-react-vite/stories/assets/accessibility.svg
  examples/v9-react-vite/stories/assets/addon-library.png
  examples/v9-react-vite/stories/assets/assets.png
  examples/v9-react-vite/stories/assets/avif-test-image.avif
  examples/v9-react-vite/stories/assets/context.png
  examples/v9-react-vite/stories/assets/discord.svg
  examples/v9-react-vite/stories/assets/docs.png
  examples/v9-react-vite/stories/assets/figma-plugin.png
  examples/v9-react-vite/stories/assets/github.svg
  examples/v9-react-vite/stories/assets/share.png
  examples/v9-react-vite/stories/assets/styling.png
  examples/v9-react-vite/stories/assets/testing.png
  examples/v9-react-vite/stories/assets/theming.png
  examples/v9-react-vite/stories/assets/tutorials.svg
  examples/v9-react-vite/stories/assets/youtube.svg
  examples/v9-react-vite/stories/button.css
  examples/v9-react-vite/stories/header.css
  examples/v9-react-vite/stories/page.css
  examples/v9-react-vite/vitest.config.js
  scripts/e2e.js
Due: prettier, oxlint

Add v9-react-vite example; skip screenshot validation for it in e2e and show status (#148)
  examples/v8-react/.storybook/main.js
  examples/v9-react-vite/.storybook/main.js
  examples/v9-react-vite/.storybook/preview.js
  examples/v9-react-vite/.storybook/vitest.setup.ts
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-workspace.yaml
  examples/v9-react-vite/stories/Button.jsx
  examples/v9-react-vite/stories/Button.stories.js
  examples/v9-react-vite/stories/Configure.mdx
  examples/v9-react-vite/stories/Header.jsx
  examples/v9-react-vite/stories/Header.stories.js
  examples/v9-react-vite/stories/Page.jsx
  examples/v9-react-vite/stories/Page.stories.js
  examples/v9-react-vite/stories/assets/accessibility.png
  examples/v9-react-vite/stories/assets/accessibility.svg
  examples/v9-react-vite/stories/assets/addon-library.png
  examples/v9-react-vite/stories/assets/assets.png
  examples/v9-react-vite/stories/assets/avif-test-image.avif
  examples/v9-react-vite/stories/assets/context.png
  examples/v9-react-vite/stories/assets/discord.svg
  examples/v9-react-vite/stories/assets/docs.png
  examples/v9-react-vite/stories/assets/figma-plugin.png
  examples/v9-react-vite/stories/assets/github.svg
  examples/v9-react-vite/stories/assets/share.png
  examples/v9-react-vite/stories/assets/styling.png
  examples/v9-react-vite/stories/assets/testing.png
  examples/v9-react-vite/stories/assets/theming.png
  examples/v9-react-vite/stories/assets/tutorials.svg
  examples/v9-react-vite/stories/assets/youtube.svg
  examples/v9-react-vite/stories/button.css
  examples/v9-react-vite/stories/header.css
  examples/v9-react-vite/stories/page.css
  examples/v9-react-vite/vitest.config.js
  scripts/e2e.js
Due: prettier, oxlint

ci: use env NODE_VERSION and build locally in CI
  .github/workflows/ci.yaml
Due: prettier

ci: use env NODE_VERSION and build locally in CI (#149)
  .github/workflows/ci.yaml
Due: prettier

feat: enhance e2e testing with screenshot copying and Node version SoT
  .github/workflows/ci.yaml
  scripts/e2e.js
Due: prettier, oxlint

feat: enhance e2e testing with screenshot copying and Node version SoT (#150)
  .github/workflows/ci.yaml
  scripts/e2e.js
Due: prettier, oxlint

Update reg_actions to output generated at runId:17888724028
  2025-09-21_17888724028_reg/actual/Large.png
  2025-09-21_17888724028_reg/actual/LoggedIn.png
  2025-09-21_17888724028_reg/actual/LoggedOut.png
  2025-09-21_17888724028_reg/actual/Primary.png
  2025-09-21_17888724028_reg/actual/Secondary.png
  2025-09-21_17888724028_reg/actual/Small.png
  2025-09-21_17888724028_reg/expected/Large.png
  2025-09-21_17888724028_reg/expected/Logged In.png
  2025-09-21_17888724028_reg/expected/Logged Out.png
  2025-09-21_17888724028_reg/expected/Primary.png
  2025-09-21_17888724028_reg/expected/Secondary.png
  2025-09-21_17888724028_reg/expected/Small.png
Due: none

chore: pin dependencies
  package.json
  packages/browser/package.json
  pnpm-lock.yaml
Due: prettier

chore: pin dependencies (#161)
  package.json
  packages/browser/package.json
  pnpm-lock.yaml
Due: prettier

chore: exit canary mode
  .changeset/pre.json
Due: prettier

chore: exit canary mode (#162)
  .changeset/pre.json
Due: prettier

chore: add publishConfig for public access to packages
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
Due: prettier

chore: add publishConfig for public access to packages (#164)
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
Due: prettier

ci: update workflow permissions and remove NPM token setup
  .github/workflows/ci.yaml
Due: prettier

ci: update workflow permissions and remove NPM token setup (#165)
  .github/workflows/ci.yaml
Due: prettier

ci: install latest npm before build in release workflow
  .github/workflows/ci.yaml
Due: prettier

ci: improve release workflow and package publishing (#166)
  .github/workflows/ci.yaml
Due: prettier

docs: update README files with improved documentation
  README.md
  packages/browser/README.md
  packages/node/README.md
Due: prettier

docs: improve README structure and add migration notice (#167)
  README.md
  packages/browser/README.md
  packages/node/README.md
Due: prettier

ci: update workflow configuration
  .github/workflows/ci.yaml
Due: prettier

ci: improve workflow security and visual regression settings (#168)
  .github/workflows/ci.yaml
Due: prettier

chore: align renovate stability period with pnpm settings
  renovate.json5
Due: none

chore: align renovate stability period with pnpm settings (#178)
  renovate.json5
Due: none

refactor: remove pnpm catalog and split examples into independent workspaces
  examples/v10-react-vite/.storybook/main.js
  examples/v10-react-vite/.storybook/preview.js
  examples/v10-react-vite/.storybook/vitest.setup.ts
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v10-react-vite/pnpm-workspace.yaml
  examples/v10-react-vite/stories/Button.jsx
  examples/v10-react-vite/stories/Button.stories.js
  examples/v10-react-vite/stories/Configure.mdx
  examples/v10-react-vite/stories/Header.jsx
  examples/v10-react-vite/stories/Header.stories.js
  examples/v10-react-vite/stories/Page.jsx
  examples/v10-react-vite/stories/Page.stories.js
  examples/v10-react-vite/stories/assets/accessibility.png
  examples/v10-react-vite/stories/assets/accessibility.svg
  examples/v10-react-vite/stories/assets/addon-library.png
  examples/v10-react-vite/stories/assets/assets.png
  examples/v10-react-vite/stories/assets/avif-test-image.avif
  examples/v10-react-vite/stories/assets/context.png
  examples/v10-react-vite/stories/assets/discord.svg
  examples/v10-react-vite/stories/assets/docs.png
  examples/v10-react-vite/stories/assets/figma-plugin.png
  examples/v10-react-vite/stories/assets/github.svg
  examples/v10-react-vite/stories/assets/share.png
  examples/v10-react-vite/stories/assets/styling.png
  examples/v10-react-vite/stories/assets/testing.png
  examples/v10-react-vite/stories/assets/theming.png
  examples/v10-react-vite/stories/assets/tutorials.svg
  examples/v10-react-vite/stories/assets/youtube.svg
  examples/v10-react-vite/stories/button.css
  examples/v10-react-vite/stories/header.css
  examples/v10-react-vite/stories/page.css
  examples/v10-react-vite/vitest.config.js
  examples/v8-react/pnpm-workspace.yaml
  examples/v9-react-vite/pnpm-workspace.yaml
  package.json
  packages/node/package.json
  pnpm-workspace.yaml
Due: prettier, oxlint
