Repository reg-viz/storycap-testrun: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

oxlint:
  run: pnpm oxlint --fix {staged_files}
  stage_fixed: true

chore: update dependency typescript to v7 (#287)
  package.json
  pnpm-lock.yaml
Due: prettier

feat!: drop Node.js 20 support, update pnpm to v11 and changesets to v3
  .changeset/olive-moons-shave.md
  .github/workflows/ci.yaml
  examples/v10-react-vite/pnpm-workspace.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v8-react/pnpm-workspace.yaml
  examples/v9-react-vite/pnpm-workspace.yaml
  package.json
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

feat!: drop Node.js 20 support, update pnpm to v11 and changesets to v3 (#288)
  .changeset/olive-moons-shave.md
  .github/workflows/ci.yaml
  examples/v10-react-vite/pnpm-workspace.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v8-react/pnpm-workspace.yaml
  examples/v9-react-vite/pnpm-workspace.yaml
  package.json
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update node.js to v24 for local development
  .node-version
  renovate.json5
Due: none

chore: update node.js to v24 for local development (#289)
  .node-version
  renovate.json5
Due: none

chore: update dependency tsdown to v0.22.14
  .changeset/plenty-crabs-repeat.md
  package.json
  packages/browser/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint

chore: update dependency tsdown to v0.22.14 (#291)
  .changeset/plenty-crabs-repeat.md
  package.json
  packages/browser/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint

refactor(browser): key the capture state by page
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

fix(browser): capture at the configured viewport regardless of the Playwright context
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/screenshot.test.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

fix(browser): size the stitching canvas from the captured chunks
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

fix(browser): capture the bottom of a page whose height is not a viewport multiple
  examples/v10-react-vite/stories/Bands.jsx
  examples/v10-react-vite/stories/Bands.stories.js
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

test(v10-react-vite): capture at a wide viewport and at a 2x scale factor
  examples/v10-react-vite/package.json
  examples/v10-react-vite/vitest.config.js
Due: prettier, oxlint

docs(browser): describe what actually decides the capture size
  packages/browser/README.md
Due: prettier

chore: add changesets for the capture fixes
  .changeset/olive-pandas-shout.md
  .changeset/quiet-donkeys-refuse.md
Due: prettier

fix(browser): restore the viewport even when the wrapper restore fails
  .changeset/olive-pandas-shout.md
  packages/browser/README.md
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/screenshot.test.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

Update reg_actions to output generated at runId:33236186810
  2026-08-29_33236186810_reg/actual/Default.png
  2026-08-29_33236186810_reg/actual/FullPage.png
  2026-08-29_33236186810_reg/actual/Large.png
  2026-08-29_33236186810_reg/actual/LoggedIn.png
  2026-08-29_33236186810_reg/actual/LoggedOut.png
  2026-08-29_33236186810_reg/actual/Primary.png
  2026-08-29_33236186810_reg/actual/Secondary.png
  2026-08-29_33236186810_reg/actual/Small.png
  2026-08-29_33236186810_reg/actual/ViewportOnly.png
Due: none

docs(browser): correct when the viewport resize cannot be undone
  .changeset/olive-pandas-shout.md
  packages/browser/README.md
Due: prettier

Update reg_actions to output generated at runId:33237530517
  2026-08-29_33237530517_reg/actual/Default.png
  2026-08-29_33237530517_reg/actual/FullPage.png
  2026-08-29_33237530517_reg/actual/Large.png
  2026-08-29_33237530517_reg/actual/LoggedIn.png
  2026-08-29_33237530517_reg/actual/LoggedOut.png
  2026-08-29_33237530517_reg/actual/Primary.png
  2026-08-29_33237530517_reg/actual/Secondary.png
  2026-08-29_33237530517_reg/actual/Small.png
  2026-08-29_33237530517_reg/actual/ViewportOnly.png
Due: none

test(v10-react-vite): scroll the Bands story smoothly
  examples/v10-react-vite/stories/Bands.jsx
  packages/browser/README.md
Due: prettier, oxlint

Update reg_actions to output generated at runId:33244655483
  2026-08-29_33244655483_reg/actual/Default.png
  2026-08-29_33244655483_reg/actual/FullPage.png
  2026-08-29_33244655483_reg/actual/Large.png
  2026-08-29_33244655483_reg/actual/LoggedIn.png
  2026-08-29_33244655483_reg/actual/LoggedOut.png
  2026-08-29_33244655483_reg/actual/Primary.png
  2026-08-29_33244655483_reg/actual/Secondary.png
  2026-08-29_33244655483_reg/actual/Small.png
  2026-08-29_33244655483_reg/actual/ViewportOnly.png
Due: none

fix(browser): capture the whole image in configurations that were silently cropped (#292)
  .changeset/olive-pandas-shout.md
  .changeset/quiet-donkeys-refuse.md
  examples/v10-react-vite/package.json
  examples/v10-react-vite/stories/Bands.jsx
  examples/v10-react-vite/stories/Bands.stories.js
  examples/v10-react-vite/vitest.config.js
  packages/browser/README.md
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/screenshot.test.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

ci: update changesets/action to v2
  .github/workflows/ci.yaml
Due: prettier

ci: update changesets/action to v2 (#295)
  .github/workflows/ci.yaml
Due: prettier

chore: create .nvmrc;
  .nvmrc
Due: none

chore(examples): bump storybook 10 to thee latest version;
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
Due: prettier

fix(#297): fix sticky/fixed element duplication edge case with example;
  examples/v10-react-vite/stories/TallContent.jsx
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

Revert "chore: create .nvmrc;"
  .nvmrc
Due: none

fix(browser): capture content wider than the viewport in full-page screenshots
  .changeset/wide-content-stitching.md
  examples/v10-react-vite/stories/WideContent.jsx
  examples/v10-react-vite/stories/WideContent.stories.js
  packages/browser/README.md
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

fix(browser): capture content wider than the viewport in full-page screenshots (#300)
  .changeset/wide-content-stitching.md
  examples/v10-react-vite/stories/WideContent.jsx
  examples/v10-react-vite/stories/WideContent.stories.js
  packages/browser/README.md
  packages/browser/src/vitest-plugin/index.ts
Due: prettier, oxlint

feat(browser): add per-story viewport parameter to override the capture viewport
  .changeset/tall-stories-resize.md
  examples/v10-react-vite/stories/TallContent.stories.js
  packages/browser/README.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
  packages/browser/src/vitest-plugin/index.test.ts
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/parameters.test.ts
  packages/internal/src/parameters.ts
  packages/internal/src/screenshot.ts
  packages/node/src/screenshot.test.ts
Due: prettier, oxlint

feat(browser): add a per-story viewport parameter to override the capture viewport (#304)
  .changeset/tall-stories-resize.md
  examples/v10-react-vite/stories/TallContent.stories.js
  packages/browser/README.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
  packages/browser/src/vitest-plugin/index.test.ts
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/parameters.test.ts
  packages/internal/src/parameters.ts
  packages/internal/src/screenshot.ts
  packages/node/src/screenshot.test.ts
Due: prettier, oxlint

chore(examples): bump storybook 10 to the latest version; (#303)
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
Due: prettier

fix(examples): regenerate v10-react-vite lockfile
  examples/v10-react-vite/pnpm-lock.yaml
Due: prettier

fix(examples): regenerate v10-react-vite lockfile (#308)
  examples/v10-react-vite/pnpm-lock.yaml
Due: prettier

fix(browser): stop forwarding a null viewport override to the browser command
  .changeset/null-viewport-vitest5.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
Due: prettier, oxlint

fix(browser): stop forwarding a null viewport override to the browser command (#323)
  .changeset/null-viewport-vitest5.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
Due: prettier, oxlint

chore: update playwright to v1.63.0
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

ci: gate merges on automerge-gate instead of the pass job
  .github/workflows/automerge-gate.yaml
  .github/workflows/ci.yaml
Due: prettier

chore: update playwright to v1.63.0 (#325)
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,html,md,yml,yaml}
  oxlint: any of: *.{js,jsx,ts,tsx}
