Repository reg-viz/storycap-testrun: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

lefthook.yaml:

pre-commit:
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,scss,html,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    oxlint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm oxlint --fix {staged_files}
      stage_fixed: true

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,css,scss,html,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

chore: update pnpm-lock.yaml to match catalog removal
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

fix: install dependencies for each example workspace in e2e tests
  scripts/e2e.js
Due: prettier, oxlint

fix: replace catalog references with direct versions in examples
  examples/v8-react/package.json
  examples/v9-react-vite/package.json
Due: prettier

fix: remove playwright install from e2e script to avoid apt lock conflicts
  scripts/e2e.js
Due: prettier, oxlint

Update reg_actions to output generated at runId:18815633717
  2025-10-26_18815633717_reg/actual/Large.png
  2025-10-26_18815633717_reg/actual/LoggedIn.png
  2025-10-26_18815633717_reg/actual/LoggedOut.png
  2025-10-26_18815633717_reg/actual/Primary.png
  2025-10-26_18815633717_reg/actual/Secondary.png
  2025-10-26_18815633717_reg/actual/Small.png
Due: none

docs: add CLAUDE.md for Claude Code project context
  CLAUDE.md
Due: prettier

Update reg_actions to output generated at runId:23330248630
  2026-03-20_23330248630_reg/actual/Large.png
  2026-03-20_23330248630_reg/actual/Logged In.png
  2026-03-20_23330248630_reg/actual/Logged Out.png
  2026-03-20_23330248630_reg/actual/LoggedIn.png
  2026-03-20_23330248630_reg/actual/LoggedOut.png
  2026-03-20_23330248630_reg/actual/Primary.png
  2026-03-20_23330248630_reg/actual/Secondary.png
  2026-03-20_23330248630_reg/actual/Small.png
Due: none

docs: add CLAUDE.md for Claude Code project context (#240)
  CLAUDE.md
Due: prettier

fix: resolve playwright version mismatch in lockfile
  pnpm-lock.yaml
Due: prettier

fix: update playwright to 1.57.0 in all examples
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

fix: use pnpm run instead of pnpm for e2e clean/test commands
  scripts/e2e.js
Due: prettier, oxlint

fix: resolve playwright version mismatch in lockfile (#241)
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  pnpm-lock.yaml
  scripts/e2e.js
Due: prettier, oxlint

fix: set explicit react version in oxlintrc for oxlint v1.55.0 compat
  .oxlintrc.json
Due: prettier

chore: update example lockfiles for pinned dependencies
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

fix: update example lockfiles for pinned dependencies
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

fix: update example lockfiles for pinned dependencies (#243)
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

chore: update tsconfig.base.json for @tsconfig/node22
  tsconfig.base.json
Due: prettier

feat: migrate to vitest v4
  examples/v10-react-vite/.storybook/vitest.setup.ts
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v10-react-vite/vitest.config.js
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/.storybook/vitest.setup.ts
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  examples/v9-react-vite/vitest.config.js
  packages/browser/package.json
  packages/browser/src/hooks/types.ts
  packages/browser/src/options.ts
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
  packages/browser/src/wait-for-stable.ts
  packages/browser/tsconfig.json
  packages/internal/src/screenshot.test.ts
  pnpm-lock.yaml
Due: prettier, oxlint

chore: migrate formatter from prettier to oxfmt
  .oxfmtrc.json
  .prettierignore
  CLAUDE.md
  lefthook.yaml
  package.json
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier, oxlint

chore: migrate formatter from prettier to oxfmt (#247)
  .oxfmtrc.json
  .prettierignore
  CLAUDE.md
  lefthook.yaml
  package.json
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier, oxlint

feat: add per-story image options, fix viewport scaling, and support fullPage capture
  .changeset/per-story-image-options.md
  examples/v10-react-vite/stories/TallContent.jsx
  examples/v10-react-vite/stories/TallContent.stories.js
  examples/v10-react-vite/vitest.config.js
  examples/v9-react-vite/vitest.config.js
  packages/browser/README.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/parameters.test.ts
  packages/internal/src/parameters.ts
  packages/internal/src/screenshot.test.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

Update reg_actions to output generated at runId:23381331679
  2026-03-21_23381331679_reg/actual/FullPage.png
  2026-03-21_23381331679_reg/actual/Large.png
  2026-03-21_23381331679_reg/actual/LoggedIn.png
  2026-03-21_23381331679_reg/actual/LoggedOut.png
  2026-03-21_23381331679_reg/actual/Primary.png
  2026-03-21_23381331679_reg/actual/Secondary.png
  2026-03-21_23381331679_reg/actual/Small.png
  2026-03-21_23381331679_reg/actual/ViewportOnly.png
  2026-03-21_23381331679_reg/diff/Large.png
  2026-03-21_23381331679_reg/diff/LoggedIn.png
  2026-03-21_23381331679_reg/diff/LoggedOut.png
  2026-03-21_23381331679_reg/diff/Primary.png
  2026-03-21_23381331679_reg/diff/Secondary.png
  2026-03-21_23381331679_reg/diff/Small.png
  2026-03-21_23381331679_reg/expected/Large.png
  2026-03-21_23381331679_reg/expected/LoggedIn.png
  2026-03-21_23381331679_reg/expected/LoggedOut.png
  2026-03-21_23381331679_reg/expected/Primary.png
  2026-03-21_23381331679_reg/expected/Secondary.png
  2026-03-21_23381331679_reg/expected/Small.png
Due: none

fix: move iframe viewport preparation before hooks to fix mask positioning
  packages/browser/src/screenshot.ts
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

Update reg_actions to output generated at runId:23381751011
  2026-03-21_23381751011_reg/actual/FullPage.png
  2026-03-21_23381751011_reg/actual/Large.png
  2026-03-21_23381751011_reg/actual/LoggedIn.png
  2026-03-21_23381751011_reg/actual/LoggedOut.png
  2026-03-21_23381751011_reg/actual/Primary.png
  2026-03-21_23381751011_reg/actual/Secondary.png
  2026-03-21_23381751011_reg/actual/Small.png
  2026-03-21_23381751011_reg/actual/ViewportOnly.png
  2026-03-21_23381751011_reg/diff/Large.png
  2026-03-21_23381751011_reg/diff/LoggedIn.png
  2026-03-21_23381751011_reg/diff/LoggedOut.png
  2026-03-21_23381751011_reg/diff/Primary.png
  2026-03-21_23381751011_reg/diff/Secondary.png
  2026-03-21_23381751011_reg/diff/Small.png
  2026-03-21_23381751011_reg/expected/Large.png
  2026-03-21_23381751011_reg/expected/LoggedIn.png
  2026-03-21_23381751011_reg/expected/LoggedOut.png
  2026-03-21_23381751011_reg/expected/Primary.png
  2026-03-21_23381751011_reg/expected/Secondary.png
  2026-03-21_23381751011_reg/expected/Small.png
Due: none

feat: add per-story image options, fix viewport scaling, and support fullPage capture (#248)
  .changeset/per-story-image-options.md
  examples/v10-react-vite/stories/TallContent.jsx
  examples/v10-react-vite/stories/TallContent.stories.js
  examples/v10-react-vite/vitest.config.js
  examples/v9-react-vite/vitest.config.js
  packages/browser/README.md
  packages/browser/src/screenshot.test.ts
  packages/browser/src/screenshot.ts
  packages/browser/src/vitest-plugin/index.ts
  packages/internal/src/parameters.test.ts
  packages/internal/src/parameters.ts
  packages/internal/src/screenshot.test.ts
  packages/internal/src/screenshot.ts
Due: prettier, oxlint

fix: add pnpm.overrides for playwright-core dedup, update example, disable test-runner renovate
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  renovate.json5
Due: prettier

fix: add pnpm.overrides to v8-react example for playwright-core dedup
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
Due: prettier

fix: update playwright to 1.58.2 in v9-react-vite and v10-react-vite examples
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

Update reg_actions to output generated at runId:23382385721
  2026-03-21_23382385721_reg/actual/FullPage.png
  2026-03-21_23382385721_reg/actual/Large.png
  2026-03-21_23382385721_reg/actual/LoggedIn.png
  2026-03-21_23382385721_reg/actual/LoggedOut.png
  2026-03-21_23382385721_reg/actual/Primary.png
  2026-03-21_23382385721_reg/actual/Secondary.png
  2026-03-21_23382385721_reg/actual/Small.png
  2026-03-21_23382385721_reg/actual/ViewportOnly.png
  2026-03-21_23382385721_reg/diff/Large.png
  2026-03-21_23382385721_reg/diff/LoggedIn.png
  2026-03-21_23382385721_reg/diff/LoggedOut.png
  2026-03-21_23382385721_reg/diff/Primary.png
  2026-03-21_23382385721_reg/diff/Secondary.png
  2026-03-21_23382385721_reg/diff/Small.png
  2026-03-21_23382385721_reg/expected/Large.png
  2026-03-21_23382385721_reg/expected/LoggedIn.png
  2026-03-21_23382385721_reg/expected/LoggedOut.png
  2026-03-21_23382385721_reg/expected/Primary.png
  2026-03-21_23382385721_reg/expected/Secondary.png
  2026-03-21_23382385721_reg/expected/Small.png
Due: none

fix: update package exports for tsdown 0.21.2 fixed extensions
  packages/browser/package.json
  packages/internal/package.json
  packages/node/package.json
Due: prettier

fix(browser): emit vitest-plugin default export as value, not type
  .changeset/fix-vitest-plugin-dts-type-only.md
  packages/browser/package.json
  packages/browser/test-types/dist-types-cjs.test-d.cts
  packages/browser/test-types/dist-types-esm.test-d.mts
  packages/browser/test-types/tsconfig.json
  packages/browser/tsdown.config.ts
Due: prettier, oxlint

fix(browser): emit vitest-plugin default export as value, not type (#266) (#267)
  .changeset/fix-vitest-plugin-dts-type-only.md
  packages/browser/package.json
  packages/browser/test-types/dist-types-cjs.test-d.cts
  packages/browser/test-types/dist-types-esm.test-d.mts
  packages/browser/test-types/tsconfig.json
  packages/browser/tsdown.config.ts
Due: prettier, oxlint

chore: bump vitest in examples to 4.1.5
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

chore: bump playwright in examples to 1.59.1
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

chore: update dev dependencies and CI actions
  .github/actions/setup-node/action.yaml
  .node-version
  package.json
  packages/browser/README.md
  packages/browser/package.json
  packages/node/README.md
  pnpm-lock.yaml
Due: prettier

chore: update dependency oxlint-tsgolint to v7
  package.json
  pnpm-lock.yaml
Due: prettier

chore: sync example workspaces with the root dependency bumps
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
Due: prettier

chore: update dev dependencies and CI actions (#286)
  .github/actions/setup-node/action.yaml
  .node-version
  examples/v10-react-vite/package.json
  examples/v10-react-vite/pnpm-lock.yaml
  examples/v8-react/package.json
  examples/v8-react/pnpm-lock.yaml
  examples/v9-react-vite/package.json
  examples/v9-react-vite/pnpm-lock.yaml
  package.json
  packages/browser/README.md
  packages/browser/package.json
  packages/node/README.md
  pnpm-lock.yaml
Due: prettier

chore: update dependency typescript to v7
  package.json
  pnpm-lock.yaml
Due: prettier
